
{% extends 'app/base.html' %}


{% block contenido %}
<h2>Listado de Clientes</h2>
<p class="text-center">En esta sección podrás editar y eliminar clientes.</p>
    <table class="table table-default  col-sm-6 col-md-8 offset-md-2 mt-2">
        <thead class="light ">
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">DV</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
    {% for c in clientes %}
        <tbody>
            <tr>
                <td scope="row">{{c.rut}}</th>
                <td scope="row">{{c.digito_verificador}}</th>
                <td>{{c.nombre}}</td>
                <td>{{c.apellido_Paterno}}</td>
                <td>{{c.apellido_Materno}}</td>
                <td>{{c.fecha_de_Nacimiento}}</td>
                <td>
                    <a class=" btn btn-outline-primary col-md-5 col-sm-10" href="{% url 'modificarCliente' c.rut%}">Editar</a>
                    <a class="btn btn-outline-danger col-md-5 col-sm-10" href="{% url 'eliminarCliente' c.rut%}">Eliminar</a></td>
                            
                
            </tr>

        </tbody>
    {% endfor %}
    </table>


{% endblock %}