{% extends 'app/base.html' %}

{%load static%}
{%block contenido%}
{% load _tags %}

<div class="row m-2">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <!-- <div class="card"> -->
            <h1>Registro de Usuario</h1>
            <!-- <div class="card-body"> -->
                <form action="" method="POST">
                    {% csrf_token %}
                    
        
                    <div class="botonesFormulario d-flex justify-content-end">
                        <button type="submit" class="btn btn-warning col-md-2 col-sm-12 ">Registrar</button>
                        <button type="reset" class="btn-danger btn  ml-2 col-md-2 col-sm-12">Limpiar</button>
                    </div>
                </form>
            <!-- </div>
        </div> -->
    </div>
</div>





{% endblock %}